.Hands {
  position: absolute;
  left: 0;
  top: 0;
  fill: rgba(0, 0, 0, 0.01);
  transform: scale(1.55) translate(5%, -2%);
  stroke: rgba(0, 0, 0, 0.3);
}

.Hands__nail {
  stroke: rgba(0, 0, 0, 0.2);
}

.Hands__finger_active {
  stroke: black;
}

.Hands__position {
  display: none;
}

.Hands__position_active {
  display: block;
}
